<!DOCTYPE html>
<html>
<!-- the head section -->

<head>
    <title>Wolfie's Bakery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='bakery.ico') }}">
</head>

<!-- the body section -->

<body>
    <header>
        <h1>Wolfie's Bakery</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('product_list') }}">Products</a></li>
            <li><a href="/customer">Customers</a></li>
            <li><a href="/order">Orders</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

    <footer>
        <p class="copyright">
            &copy; 2024 Wolfie's Bakery, Inc.
        </p>
    </footer>
</body>

</html>