{% extends "base.html" %}

{% block content %}
<main>
    <h1>Category List</h1>
    <div class="scroll">
        <!-- display a table of products -->
        {% if categories %}
        <table>
            <tr>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
            {% for category in categories %}
            <tr>
                <td>{{ category.CategoryName }}</td>
                
                <td>
                    <form method="GET">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <div> There are no customers.</div>
        {% endif %}
    </div>   
    <p class="last_paragraph">
        <a href="{{ url_for('product_list') }}">View Products List</a>
    </p>
</main>
{% endblock %}