{% extends "base.html" %}

{% block content %}
<main>
    <h1>Customers</h1>
    <div class="scroll">
        <ol>
            {% for customer in customers %}
            <li>
                {{ customer.LastName|upper }},
                {% if customer.PreferredName %}
                    {{ customer.PreferredName|upper }}
                {% else %}
                    {{ customer.FirstName|upper }}
                {% endif %}
                <br>
                Email: {{ customer.Email }}
                {% if customer.Phone %}
                    <br>Phone: {{ customer.Phone }}
                {% endif %}
            </li>
            <br>
            {% endfor %}
        </ol>
    </div>
</main>
{% endblock %}