{% extends "base.html" %}

{% block content %}
<main>
    <h1>Customer List</h1>

    <aside>
        <h2>Customers</h2>
        <ul class="scroll">
            {% for customer in customers %}
            <li><a href="{{ url_for('customer_list', customer_id=customer['CustomerID']) }}">{{ customer['LastName'] }}, {{ customer['PreferredName'] or customer['FirstName'] }}</a></li>
            {% endfor %}
        </ul>
    </aside>

    <section id="customer-details">
        {% if selected_customer %}
        <h2>{{ selected_customer['LastName'] }}, {{ selected_customer['PreferredName'] or selected_customer['FirstName'] }}</h2>
        <table>
            <tr>
                <td><span class="customerlabel">Last name:</span></td>
                <td>{{ selected_customer['LastName'] }}</td>
            </tr>
            <tr>
                <td><span class="customerlabel">First name</span>:</td>
                <td>{{ selected_customer['FirstName'] }}</td>
            </tr>
            <tr>
                <td><span class="customerlabel">Preferred name:</span></td>
                <td>{{ selected_customer['PreferredName'] or "N/A" }}</td>
            </tr>
            <tr>
                <td><span class="customerlabel">Email:</span></td>
                <td>{{ selected_customer['Email'] or "N/A" }}</td>
            </tr>
            <tr>
                <td><span class="customerlabel">Phone:</span></td>
                <td>{{ selected_customer['Phone'] or "N/A" }}</td>
            </tr>
        </table>
        {% else %}
        <p>Please select a customer from the list on the left.</p>
        {% endif %}
    </section>
    
</main>
{% endblock %}