<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="static/project1.css">
</head>
<body>

<header>
    <h1>Plumbers R Us</h1>
</header>

<nav>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('reviews_list') }}">Reviews</a> 
</nav>

<section>
    <h2>Use us for all your plumbing needs</h2>
    <div class="image">
        <h3>Leaking or Broken Pipes</h3>
        <img src="{{ url_for('static', filename='images/plumber1.jpeg') }}" alt="Plumber 1">
    </div>
    <div class="image">
        <h3>Commercial plumbing needs</h3>
        <img src="{{ url_for('static', filename='images/plumber2.jpeg') }}" alt="Plumber 2">
    </div>
    <div class="image">
        <h3>Plumbing resturation</h3>
        <img src="{{ url_for('static', filename='images/plumber3.jpeg') }}" alt="Plumber 3">
    </div>
</section>

</body>
</html>