{% from 'macros/forms.html' import errors %}
{% extends "base.html" %}

{% block content %}
<main>
    <h1>Add Product</h1>
    <form method="POST" id="product_form" action="{{ url_for('add_product') }}" novalidate>
        {{ add_form.csrf_token }}
        {{ add_form.product_id() }}
        

        {{ add_form.category.label }} {{ add_form.category() }}
        <br>
        {{ add_form.code.label }} {{ add_form.code() }}
        {{ errors(add_form.code) }}
        
        <br>
        {{ add_form.name.label }} {{ add_form.name() }}
        {{ errors(add_form.name) }}
        
        <br>
        {{ add_form.price.label }} {{ add_form.price() }}
        {{ errors(add_form.price) }}
        
        <br>
        {{ add_form.submit() }}
        <br>
    </form>
</main>
{% endblock %}