{% from 'macros/forms.html' import errors %}
{% extends "base.html" %}

{% block content %}
<main>
    <h1>Category List</h1>

    <section>
        <!-- display a table of categories -->
        {% if categories %}
        <table>
            <tr>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
            {% for category in categories %}
            <tr>
                <td>{{ category.CategoryName }}</td>
                <td>
                    <form method="post" action="{{ url_for('delete_category') }}">
                        {{ delete_button.csrf_token }}
                        {{ delete_button.category_id(value=category.CategoryID) }}
                        {{ delete_button.submit() }}
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <div> There are no categories.</div>
        {% endif %}

        <h1>Add Category</h1>
            <form method="post" id="category_form" action="{{ url_for('category_list') }}">
                {{ add_form.csrf_token }}  <!-- Add CSRF token -->
                <label for="name">Name:</label> 
                {{ add_form.name(size=32) }}  <!-- Render the name field with size 32 -->
                <span class="error">{{ add_error }}</span>
                <br>
                <label>&nbsp;</label>
                {{ add_form.submit() }}  <!-- Render the submit button -->
                <br>
            </form>

        <p>
            <a href="{{ url_for('product_list') }}">View Product List</a>
        </p>
    </section>
</main>
{% endblock %}